.header {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header_logo {
  margin: 0.75rem;
}

.header_actions {
  margin: 0.75rem;
}

.header_links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header_link {
  margin-right: 0.75rem;
  color: var(--jade-grey);
  text-decoration: none;
}

.header_link:hover,
.header_logout:hover {
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--red-hover);
}

.header_link__active {
  margin-right: 0.75rem;
  color: var(--jade-grey);
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--red);
}

.header_logout {
  margin-left: 0.75rem;
  color: var(--jade-grey);
  text-decoration: none;
}

.header_username {
  text-transform: capitalize;
  width: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.github_link {
  cursor: pointer;
  position: absolute;
  right: 0;
}

.linkedin {
  width: 38.5px;
  height: 33px;
  margin: 0;
  padding: 0;
  position: relative;
  top: -0.5rem;
  left: 0.75rem;
  z-index: 1;
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
    flex-flow: row;
    padding-right: 80px;
    margin-top: 0.75rem;
  }

  .header_username {
    width: auto;
    overflow: auto;
    text-overflow: unset;
  }
}
