.select_wrapper {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
  position: relative;
  width: 12rem;
}

.select_button {
  position: relative;
  width: 100%;
  border: 0;
  border-radius: var(--radius-select);
  color: var(--white);
  background-color: var(--jade-dark);
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  font-weight: 400;
  box-shadow: hsl(134deg 100% 64% / 10%) 0px 4px 8px -2px,
    hsl(134deg 100% 64% / 6%) 0px 0px 0px 1px;
  cursor: pointer;
  text-transform: capitalize;
  text-align: justify;
}

.select_button:focus-visible {
  outline: 0;
}

.select_button__icon {
  position: absolute;
  right: 0.5rem;
}

.select_options {
  width: 100%;
  position: absolute;
  top: 2.75rem;
  list-style: none;
  padding-left: 0;
  text-align: justify;
  background-color: var(--jade-dark);
  border-radius: var(--radius-select);
  color: var(--white);
  cursor: pointer;
  z-index: 3;
}

.select_option__active {
  background-color: var(--jade-grey);
  color: var(--jade-darker);
}

.select_option__active,
.select_option {
  padding-top: 0.25rem;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  text-transform: capitalize;
}

.select_option__active:first-child {
  border-top-left-radius: var(--radius-select);
  border-top-right-radius: var(--radius-select);
}

.select_option__active:last-child {
  border-bottom-left-radius: var(--radius-select);
  border-bottom-right-radius: var(--radius-select);
}

.select_label {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .select_wrapper {
    margin-top: 0;
    z-index: 2;
  }
  .select_label {
    margin-top: 0;
  }
}
