.pagination {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-indent: 1rem;
}

.page_list {
  display: flex;
  padding-inline-start: 0;
  flex-wrap: wrap;
}

.page_list__page {
  list-style: none;
}

.page_list__button,
.page_list__button_active,
.page_next,
.page_previous {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.page_list__button,
.page_list__button_active {
  color: var(--jade-grey);
}

.page_list__button_active {
  font-weight: 900;
  text-shadow: var(--jade-grey) 1px 0 0.75rem;
}

.page_next img,
.page_previous img {
  fill: var(--jade-grey);
}
