.container {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin: auto;
}

.cover {
  width: 150px;
  height: 189px;
  border-radius: var(--radius-select);
  object-fit: cover;
  box-shadow: hsl(134deg 100% 64% / 10%) 0px 4px 8px -2px,
    hsl(134deg 100% 64% / 6%) 0px 0px 0px 1px;
}

.cover:hover {
  border: 1px solid var(--red-grey);
  opacity: 0.88;
}

.title {
  font-size: 0.75rem;
  display: flex;
  max-width: 150px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--jade-grey);
  height: 2.5rem;
  text-overflow: ellipsis;
  line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.game_link {
  text-decoration: none;
}

.add_to_collection,
.add_to_collection__active {
  border-radius: var(--radius-search);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.add_to_collection {
  background-color: var(--jade-grey);
}

.add_to_collection__active {
  background-color: var(--red-light);
}

.add_to_collection:hover {
  opacity: 1;
}

.atc_wrapper__active {
  color: var(--jade-faded);
}

@media (min-width: 768px) {
  .container {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 0;
  }

  .cover {
    width: 200px;
    height: 252px;
    border-radius: var(--radius);
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .title {
    font-size: 0.938rem;
    max-width: 200px;
    margin-left: 0.75rem;
  }

  .add_to_collection,
  .add_to_collection__active {
    top: 1rem;
    right: 1rem;
  }
}
