.select_box {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.select_box__label {
  margin-right: 0.5rem;
}

.select_box__select {
  border: 0;
  border-radius: var(--radius);
  color: var(--white);
  background-color: var(--jade-dark);
  height: 2rem;
  padding-left: 0.5rem;
  font-weight: 400;
  box-shadow: hsl(134deg 100% 64% / 10%) 0px 4px 8px -2px,
    hsl(134deg 100% 64% / 6%) 0px 0px 0px 1px;
}

.select_box__select:focus-visible {
  outline: 0;
}
