.hero {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 8rem;
}

.hero_title {
  display: flex;
  justify-content: center;
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 1;
  color: var(--white);
}

.hero_text__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.hero_text {
  width: 70%;
  text-align: center;
  line-height: 1.5;
}

.hero_build__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.hero_build {
  line-height: 1.5;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 70%;
  text-align: center;
  font-weight: 400;
}

.hero_hiw__wrapper {
  margin-top: 4rem;
  color: var(--jade-grey);
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3.75rem;
}

.hero_hiw__sidebar {
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  padding: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%;
  background-color: var(--jade-darker);
  backdrop-filter: blur(5px);
  border: 1px solid var(--red-grey);
}

.hero_hiw {
  font-size: 1.25rem;
  width: 38%;
  display: flex;
  justify-content: center;
}

.hero_hiw__list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 62%;
  line-height: 1.5;
  list-style: none;
}

.hero_hiw__list li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
