/* :root {
  --container-padding: 1.25rem;
  --container-width: calc(100% - var(--container-padding) * 2);
  --container-max-width: 28rem;
}

.container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
} */
