.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--red);
  margin-top: 5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--red-darker);
  position: absolute;
  bottom: -9rem;
  width: 100%;
  text-align: center;
}
