.container {
  position: relative;
  min-height: 100vh;
}

.main {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
