.container {
  position: relative;
  min-height: 100vh;
}

.main {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
}

.main h1 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.game_wrapper {
  margin: auto;
}

@media (min-width: 768px) {
  .main h1 {
    text-align: justify;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}
